body {
       background-color: #f4f7fb;
       color: #1e293b;
       margin: 0px ;
       padding: 40px ;
}
h1 {
    text-align: center;
    color: #2563eb;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2 {
    color: #334155;
    font-size: 20px;
    margin-top: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

form {
       background-color: #f4f7fb;
       color: black;
       font-family: Arial, Helvetica, sans-serif;
       padding: 40px;
       margin: 30px ;
       left: 60px;
       position: relative;
       margin-top: 30px;
       max-width: 500px;
       min-height: 100vh;
           flex-direction: column;
    align-items: center;
    justify-content: center;

       top: -5px ;
       border-radius: 12px;
       box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); }

       label { 
              display: block;
               margin-bottom: 10px;
    font-weight: bold;
    color: #334155;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
                
       }
       input {
                 width: 100%;
    padding: 8px;
    margin-bottom: 10px ;
    box-sizing: border-box;
    border: 1px solid #cbd5e1;;
    border-radius: 8px;
    font-size: 15px;
     outline: none;
    border-color: #334155;
    box-shadow: 0 0 0 3px #7C3AED(37, 99, 235, 0.15);
       }

.tituloescola {
              color: black;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              font-size: 40px;
              padding: 20px ;

}      

.escolariedade,
{
     display: flex;
    align-items: center;
    gap: 8px;
    
}
.escolariedade label {
    display: inline;

}
input[type=escolaridade] {
      margin: 0 8px 0 0;
}


input[type="submit"]{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
